<h1>{{lctrl.titulo}}</h1>


<button id="novoComponenteBtn" class="btn btn-success" ng-click="lctrl.toIncluir()">Novo Componente</button>
<table class="table">
	<tr>
		<th> ID </th>
		<th>Nome do Componente</th>
		<th>Tipo</th>
	</tr>
	<tr ng-repeat="componente in lctrl.componentes"> 
		<td> {{componente.id}} </td>
		<td> {{componente.nome}} </td>
		<td> {{componente.tipo}} </td>
		<td> 
			<button type="button" class="btn btn-primary" ng-click="lctrl.toAlterar(componente.id)"> 
				<span class="glyphicon glyphicon-pencil"></span> Alterar</button>
		
			<button type="button" class="btn btn-danger" ng-click="lctrl.excluir(componente.id)"> 
				<span class="glyphicon glyphicon-trash"></span> Excluir</button>
		</td>
	</tr>
</table>